* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #515151;
}




h1 {
    margin: 0;
    font-weight: 600;
    margin-bottom:  15px;
}

.blog {
   width: 1000px;
    margin: auto;
}


.portada {
    
    margin-bottom: 20px;
    position: relative;
}

.portada .description {
    background: rgba(255, 255, 255, .6);
    position: absolute;
    bottom: 30px;
    left: 20px;
    padding: 20px;  
    
}

.blog-items {
    display: flex; /* se poner uno delate del otro */
    flex-wrap: wrap; /*cuando no tine espacio se ubica abajo */
    /* justify-content:space-around;pone el mismo margen para todos los costados */
    justify-content: space-between;/* solo pone margenes entre los items */
    
}

.blog-items h3 {
    font-weight: 600;
    margin: 10px 0 15px;
}

.item-blog {
    width: 300px;
}
.item-blog  .foto { 
    width: 300px;
    height: 300px;
}

.item-blog .description {
    margin-bottom: 22px;  /*  agrergandole margen inferio s ala targeta imagenes*/
}

.paginador {
    
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px 0;         
    
}

.paginador ul {

    display: flex;
    list-style: none;
    margin: 0px; 
    padding: 0;
    margin-left:  15px;
}

.paginador li {
    display: inline-block;
    background: #eaeaea;
    height: 40px;
    line-height: 40px;
    border: 1px solid gray;
    margin: 0 5px;
}

.paginador li.selected {
    border-color: transparent;
    /* background: white; */
    
   
}

.paginador a {
    padding: 0 12px;
    text-decoration: none;
    display: block;
    height: inherit;
}

.autor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    border-top:  1px solid gray;
    padding-top: 15px; /* agregando estilos  al caja del autor*/
}

.autor img {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;/*agregandomargen derecho al imagen del aotor */
}

.autor p {
    margin-bottom: 0;
}